@import url("https://fonts.googleapis.com/css?family=Lato:300,400,400italic,700,700italic|Source+Code+Pro:400");

body {
	background-color: #121212;
	color: white;
	font-family: Lato;
	margin: 0;
}

html {
    scroll-behavior: smooth;
}

/* HEADER */
.header {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 70vh;
}

.header img {
	filter: brightness(150%)
}

.header h2{
	font-size: 30px;
}

@keyframes stretch {
	0% {
		opacity: 0;
		letter-spacing: 0;
	}
	
	65% {
		opacity: 1
	}
	
	100% {
		letter-spacing: 40px;
	}
}

.header h1 {
	font-size: 160px;
	letter-spacing: 40px;
	font-weight: 300;
	animation: stretch 2s cubic-bezier(0.33, 1, 0.68, 1);
	margin-bottom: -300px;
}

.latin {
	display: flex;	
	justify-content: space-between;
	
}


.navbar{
	display:flex;
	z-index:2;
	position:fixed;
	width:100%;
}

.navbar button{
	height:70px;

	width:100%;
	transition:0.2s;
	font-weight:bold;
	color:white;
	font-size:20px;
	border-width:0px;
	background-color:rgba(245, 222, 179, 0.1)

	
}

.navbar a{
	width:100%;
}

.navbar button:hover{
	background:rgb(158, 158, 158);
	opacity:90%;
	color:rgb(29, 29, 29);
}




.latin h2{
	transition: 1s;
	font-size: 40px;
	letter-spacing: 3px;
	margin-left: 60px;
	margin-right: 60px;
}
.latin h2:hover{
	font-size: 45px;
	letter-spacing: 5px;
	margin-left: 65x;
	margin-right: 65px;
}

.desc {
	padding: 60px;
	background-color: #dddada;
	opacity:90%;
	color: #121212;
}

/* DESCRIPTION */
.desc h3 {
	font-size: 28px;
	margin-top: 50px;
	margin-bottom: 0;
	font-weight: 300;
}

.desc h2 {
	margin-top: 0;
	margin-bottom: 50px;
	font-size: 56px;
	transition: 1s;

}

.desc h2:hover{
	font-size: 78px;
}

.desc p {
	font-size: 24px;
}

/* HOW IT WORKS */
.how {
	padding: 60px;
}

.how h2 {
	text-align: center;
	font-size: 50px;
	transition: 1s;
}
.how h2:hover{
	font-size: 55px;
	letter-spacing: 8px;
}

.feature {
	align-items: center;
	gap: 8px;
}

.side {
	display: flex;
}

.how p {
	font-size: 24px;

}

.how h3 {
	font-size: 36px;
	margin-bottom: 0;
	margin-top: 0;
	font-weight: 300;
}

.how .row {
	display: flex;
  }
  
.how .column {
	flex: 50%;
  }

.feature img {
	filter: brightness(125%)
}

.row {
  display: flex;
}

.column {
  flex: 50%;
}

.team{
	padding: 60px;
}

.team h2 {
	text-align: center;
	font-size: 50px;
	transition: 1s;
}
.team h2:hover{
	font-size: 55px;
	letter-spacing: 8px;
}

.team {
	font-size: 24px;
	height:950px;	
}

.team h3 {
	font-size: 36px;
	margin-bottom: 0;
	margin-top: 0;
	font-weight: 300;
}

.team-members{
	display:flex;
	justify-content:center;

}

.member{
	margin:35px;
	padding-top:14px;
	align-items:center;
	text-align:center;
	background-image: linear-gradient(135deg, rgba(65, 61, 75,0.6), rgba(84, 17, 146,0.6));
	border-radius: 20px;
	padding-left: 20px;
	padding-right: 20px;
	transition:0.7s;
	height:fit-content
	
}
.member p{
	color: #fff;
	visibility: hidden;
	height:0px;
}
.member:hover{
	background-image: linear-gradient(180deg, rgba(47, 42, 58,0.6), rgba(74, 70, 77,0.6));
	border-color:aliceblue;
	border: 12px solid white;
}
.member:hover p{
	visibility: visible;
	height:auto;
}
.member img{
	margin-top:25px;
	margin-bottom:20px;
	border-radius:25px;
}








/* CTA */

#gifAnimation{
	display: block;
	margin-left: auto;
	margin-right: auto;
}
#vanta-canvas{
	width:100%;
	height:100vh;
	z-index: -1;
	position: fixed;
	
}

.footer{
	height:130px	;
	background-image:linear-gradient(70deg, rgba(47, 42, 58,0.6), rgba(74, 70, 77,0.6));
	width:100%;
}